<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @consensu.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @consensu.price %>
</p>

<p>
  <strong>Buy:</strong>
  <%= @consensu.buy %>
</p>

<p>
  <strong>Hold:</strong>
  <%= @consensu.hold %>
</p>

<p>
  <strong>Sell:</strong>
  <%= @consensu.sell %>
</p>

<p>
  <strong>Eps a:</strong>
  <%= @consensu.eps_a %>
</p>

<p>
  <strong>Eps b:</strong>
  <%= @consensu.eps_b %>
</p>

<p>
  <strong>Pe:</strong>
  <%= @consensu.pe %>
</p>

<p>
  <strong>Pbv:</strong>
  <%= @consensu.pbv %>
</p>

<p>
  <strong>Yield:</strong>
  <%= @consensu.yield %>
</p>

<p>
  <strong>Target price:</strong>
  <%= @consensu.target_price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @consensu.status %>
</p>

<%= link_to 'Edit', edit_consensu_path(@consensu) %> |
<%= link_to 'Back', consensus_path %>
