<%= form_for(@factsheet) do |f| %>
  <% if @factsheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@factsheet.errors.count, "error") %> prohibited this factsheet from being saved:</h2>

      <ul>
      <% @factsheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :item %><br>
    <%= f.number_field :item_id %>
  </div>
  <div class="field">
    <%= f.label :figure1 %><br>
    <%= f.text_field :figure1 %>
  </div>
  <div class="field">
    <%= f.label :figure2 %><br>
    <%= f.text_field :figure2 %>
  </div>
  <div class="field">
    <%= f.label :figure3 %><br>
    <%= f.text_field :figure3 %>
  </div>
  <div class="field">
    <%= f.label :figure4 %><br>
    <%= f.text_field :figure4 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
